<ul *ngFor="let vet of listaDati" class=" container list">
    <span class="span">MEDICO: </span>{{vet.Medico}}<br>
    <span class="span">TIPOLOGIA: </span>{{vet.Tipologia}}<br>
    <span class="span">SPECIALIZZAZIONE: </span>{{vet.Specializzazione}}<br>
    <span class="span">DISTRETTO: </span>{{vet.Distretto}}<br>
    <span class="span">COMUNE: </span>{{vet.comune}}<br>
    <span class="span">INDIRIZZO: </span>{{vet.Indirizzo}}<br>
    <span class="span">ASSOCIAZIONE: </span>{{vet.Associazione}}<br>
    <!--<span class="span">ID: </span>{{vet._id}}<br>
    <span class="span">AMBITO: </span>{{vet.Ambito}}
    <span class="span">MUNICIPIO: </span>{{vet.MUNICIPIO}}<br>
    <span class="span">NIL: </span>{{vet.NIL}}<br>
    <span class="span">LONG_X: </span>{{vet.LONG_X_4326}}<br>
    <span class="span">LAT_Y: </span>{{vet.LAT_Y_4326}}<br>-->
</ul>



