<div class="panel panel-primary">
    <div class="panel-heading">
      <h2 style="color: white;">Appointments</h2><br>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr style="color: white;">
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date</th>
            <th>Time</th>
            <th>Reason</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | async" style="color: white;">
            <td>{{user.name}}</td>
            <td>{{user.emailId}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.date}}</td>
            <td>{{user.time}}</td>
            <td>{{user.reason}}</td>
            <td>
              <button (click)="userDetails(user.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
              <button (click)="updateUser(user.id)" class="btn btn-warning" style="margin-left: 10px">Update</button>
              <button (click)="deleteUser(user.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>