<ul *ngFor="let nill of listaNil" class="container list">
    <span class="span">MEDICO: </span>{{nill.Medico}}
    <span class="span">TIPOLOGIA: </span>{{nill.Tipologia}}<br>
    <span class="span">SPECIALIZZAZIONE: </span>{{nill.Specializzazione}}<br>
    <span class="span">INDIRIZZO: </span>{{nill.Indirizzo}}<br>
    <!--<span class="span">ID: </span>{{vet._id}}<br>
    <span class="span">AMBITO: </span>{{vet.Ambito}}
    <span class="span">MUNICIPIO: </span>{{vet.MUNICIPIO}}<br>
    <span class="span">NIL: </span>{{vet.NIL}}<br>
    <span class="span">LONG_X: </span>{{vet.LONG_X_4326}}<br>
    <span class="span">LAT_Y: </span>{{vet.LAT_Y_4326}}<br>-->
    <hr>
</ul>


