<!---------------------HOME----------------------->
<section id="home" class="header_area">
    <div id="header_navbar" class="header_navbar">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="#">
                <img id="logo" src="assets/images/hehe.png" alt="Logo" style="width: 40px; height: 40px;">&nbsp;<span style="font-weight: bold; color: rgb(214, 46, 46); font-size: 30px;">MediC</span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                <ul id="nav" class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="page-scroll active" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="#services">Services</a>
                  </li>
                  <li class="nav-item">
                     <a class="page-scroll" href="#appointment">Appointment</a>
                  </li>
                  <li class="nav-item mr-400" >
                    <a class="page-scroll" href="#orari">Orari</a>
                 </li>
                </ul>
                <!--<li class="list-inline-item mr-3" style="margin: 0 0 0 20px;">
                  <div class="d-flex"><i class="far fa-clock h4 text-muted"></i>
                    <div class="ml-2">
                      <h6 class="text-muted text-uppercase mb-0 text-small">Mon - Fri: 08:00AM - 20:00PM  </h6>
                      <p class="small text-gray mb-0">Saturday and Sunday - CLOSED</p>
                    </div>
                  </div>
                </li>-->
                <div>
                    <div class="ml-2">
                      <h6 class="text-muted text-uppercase mb-0 text-small">+ 0000 0000 000</h6>
                      <p class="small text-gray mb-0">Contact Us For Help</p>
                    </div>
                </div>
              </div> 
            </nav> 
          </div>
        </div> 
      </div> 
    </div> 
  <div class="header_hero">
    <div class="single_hero bg_cover d-flex align-items-left" style="background-image: url(assets/images/wall1.jpg)">
      <div class="container">
        <div class="row justify-content-left">
          <div class="col-lg-8 col-md-10" style="position: absolute; top: 135px;">
            <div class="hero_content text-left">
              <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s" style="font-weight:bold;">MediCare Center</h2>
              <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Medic medic center is some of the best medical health reality guaranteeing uniformity and high standards in practice of health disciplines, widespread presence and widespread service to every person.</p>
              <a href="#features" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">Explore</a>
            </div> 
          </div>
        </div> 
      </div> 
    </div> 
  </div> 
</section>
<section class="about bg-light pt-3">
  <div class="container text-center">
    <h2 class="text-uppercase lined lined-center" style="font-weight: bold;">Welcome to <span class="text-danger">MEDI </span>Clinic</h2>
    <p class="text-muted">Healthcare of the future, today, for everyone.</p>
    <div class="row pt-5">
      <div class="col-lg-4 mb-5 mb-lg-0"><i class="fas fa-stethoscope fa-3x text-danger mb-3"></i>
        <h2 class="h5">HealthCare Professionals</h2>
        <p class="text-muted px-lg-3 mb-0" style="text-align: justify;">We have excellent health care professionals in multidisciplinary areas. Such as cancer center, transplant center, neuro center and other centers.</p>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0"><i class="fas fa-microscope fa-3x text-danger mb-3"></i>
        <h2 class="h5">Medical Excellence</h2>
        <p class="text-muted px-lg-3 mb-0" style="text-align: justify;">Our main aim to ensure people have confidence they will receive a consistent standard and quality of care no matter where they receive treatment.</p>
      </div>
      <div class="col-lg-4"><i class="fas fa-syringe fa-3x text-danger mb-3"></i>
        <h2 class="h5">Latest Technologies</h2>
        <p class="text-muted px-lg-3 mb-0" style="text-align: justify;">we use advanced technologies to provide best care for patients. recent researches are carried out in nano medicine.</p>
      </div>
    </div>
  </div>
</section>
<!---------------------HOME----------------------->

<!---------------------ABOUT----------------------->
<section id="about" class="pt-130">
    <div class="about_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="about_content pt-120 pb-130">
              <div class="section_title pb">
                <h2 class="text-uppercase lined" style="font-weight: bold; font-size: 37px; color: black;" >Ab<span class="text-danger">out.</span></h2>
                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s" style="text-align: justify; font-size: 15px;">Medic medic center is a private health facility present 
                  in city of Milan since 2000. We offer the services in various branches of specialist outpatient diagnostics where it possible 
                  to carry out sampling and clinical analyses, visits and diagnostic investigations or continue clinical care paths started in 
                  the hospital. The medical center has an agreement with the national health services from the year of the start of the 
                  activity and also have agreements with funds, insurance companies and companies. At the time of booking, it will be possible 
                  to check the condition of our agreement. You have the ability to book any visits and laboratory analysis through online</p>
                
              </div> 
              <a href="#" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">Learn More</a>
            </div> 
          </div>
        </div> 
      </div> 
      <div class="about_image bg_cover wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s" style="background-image: url(assets/images/abouttt.png)">
        <div class="image_content">
         <h4 class="experience"><span>21</span> Years of Experience</h4>
         </div>
      </div> 
    </div>
  </section>
<!---------------------ABOUT----------------------->
