<app-site-upper></app-site-upper>

<div class="container-fluid mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 p-3">
        <div class="section_title pb">
          <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s" style="font-weight: bold;">About OurCreative Proccess</h4>
          <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s" style="text-align: justify; font-size: 15px;">Medic medic center is a private health facility present 
            in city of Milan since 2000. We offer the services in various branches of specialist outpatient diagnostics where it possible 
            to carry out sampling and clinical analyses, visits and diagnostic investigations or continue clinical care paths started in 
           </p>
        </div> 
      </div>
      <div class="col-sm-6 p-3">
        <google-chart
            [type]="myType" 
            [data]="chartDati" 
            [width]="width"
            [height]="height">
          </google-chart>
      </div>
    </div>
  </div>
</div>

<!--<section id="about" >
  <div class="about_area">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="container" style="position: absolute; left:50px; top: -80px;" >
            <google-chart
            [type]="myType" 
            [data]="chartDati" 
            [width]="width"
            [height]="height">
          </google-chart>
          </div>
          
        </div>
        <div class="col">
          <div class="section_title pb">
            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s" style="font-weight: bold;">About OurCreative Proccess</h4>
            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s" style="text-align: justify; font-size: 15px;">Medic medic center is a private health facility present 
              in city of Milan since 2000. We offer the services in various branches of specialist outpatient diagnostics where it possible 
              to carry out sampling and clinical analyses, visits and diagnostic investigations or continue clinical care paths started in 
              the hospital. The medical center has an agreement with the national health services from the year of the start of the 
              activity and also have agreements with funds, insurance companies and companies. At the time of booking, it will be possible 
              to check the condition of our agreement. You have the ability to book any visits and laboratory analysis through online</p>
            
          </div> 
        </div>
      </div>
    </div> 
  </div>
</section>-->

<!---------------------SERVICES----------------------->
<section id="services" class="features_area pt-120 pb-40">
    <div class="container text-center">
      <h2 class="text-uppercase lined lined-center" style="font-weight: bold;">Our  <span class="text-danger">Services</span></h2>
      <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetuer. Proin gravida nibh vel velit auctor aliquetenean.</p>
      <div class="row">
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-danger py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Qualified Facilities</h2>
                  <div class="services-icon my-4"><i class="fas fa-procedures fa-2x"></i></div>
                  <p class="services-item-text text-small" style="text-align: center; margin-bottom: 26px;">In the hospital anxiety and discomfort can increase. This is why we try to offer you services that make you stay more comfortable. </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-danger py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Top Level Doctors</h2>
                  <div class="services-icon my-4"><i class="fas fa-user-md fa-2x"></i></div>
                  <p class="services-item-text text-small mb-0" style="text-align: center;">We provide best care in various fields including anaesthetics, emergency medicine, general medicine, obstetrics, surgery and trauma and orthopaedics.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-danger py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">Dedicated Patient Care</h2>
                  <div class="services-icon my-4"><i class="fas fa-notes-medical fa-2x"></i></div>
                  <p class="services-item-text text-small mb-0" style="text-align:center;">When it is necessary for you to reside at hospital for medical treatment you can be assured of receiving a professional and caring service.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
              <div class="card services-item border-0">
                <div class="card-body border-top border-md border-danger py-5 px-4 shadow-sm">
                  <h2 class="h6 mb-0 services-item-heading">24/7 Emergency</h2>
                  <div class="services-icon my-4"><i class="fas fa-ambulance fa-2x"></i></div>
                  <p class="services-item-text text-small" style="text-align: center; margin-bottom: 72px;">You can receive emergency care 24/7 calling our hotline 2222222.</p>
                </div>
              </div>
            </div>
      </div>
    </div>
</section>
<!---------------------SERVICES----------------------->

<section>
  <div class="container">
    <label for="text" style="margin-bottom:5px; font-size: 30px; font-weight: bold;">MEDICO: </label><small style="margin-left: 15px;" >Es: Adda Giampaolo | Abbiati Carla</small><br>
    <input class="w3-input w3-border w3-animate-input border border-dark" type="text" style="width:35%; margin-bottom:5px;" name="na" #newname placeholder="Doctor Name" ><br>
    <button (click) = "find(newname)" type="button" class="btn btn-outline-danger">Find</button>
    
  </div>
  <br>
  <app-inputcomp [listaDati]="dati"></app-inputcomp>
</section> 
<br>
<!---->
<div class="container-fluid mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 p-3">
        <section class="pb-60">
            <label for="text" style="margin-bottom:5px; font-size: 30px; font-weight: bold;">NIL: </label><small style="margin-left: 15px;" >Es: DERGANO | DUOMO | SAN SIRO | CORSICA</small><br>
            <input class="w3-input w3-border w3-animate-input border border-dark" type="text" style="width:70%; margin-bottom:5px;" name="na" #newNil placeholder="NIL" ><br>
            <button (click) = "findd(newNil)" type="button" class="btn btn-outline-danger">Find</button>
          <br>
          <app-inputcomp2 [listaNil] ="dati1"></app-inputcomp2>
        </section> 
      </div>
      <div class="col-sm-6 p-3">
      
      </div>
    </div>
  </div>
</div>
<!---->

<!--<section class="pb-60">
  <div class="container">
    <label for="text" style="margin-bottom:5px; font-size: 30px; font-weight: bold;">NIL: </label><small style="margin-left: 15px;" >Es: DERGANO | DUOMO | SAN SIRO | CORSICA</small><br>
    <input class="w3-input w3-border w3-animate-input border border-dark" type="text" style="width:35%; margin-bottom:5px;" name="na" #newNil placeholder="NIL" ><br>
    <button (click) = "findd(newNil)" type="button" class="btn btn-outline-danger">Find</button>
  </div>
  <br>
  <app-inputcomp2 [listaNil] ="dati1"></app-inputcomp2>
</section>-->

<!-- /INPUT SECTION -->
<section id="appointment" class="contact_area bg_cover pt-120 pb-130" style="background-image: url(assets/images/APP.jpg);">
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-lg-6">
  <div class="section_title section_title_2 text-center ">
  <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Appointments</h4>
  <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
  amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
  </div> 
  </div>
  </div> 
  <div class="container">
    <div class="bu1">
      <a routerLink="users" class="button button1" routerLinkActive="active">Appointments</a>
      <a routerLink="add" class="button button1" routerLinkActive="active">Make an appointment</a>
    </div>
      <div class="card-body">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div> 
  </section>

<app-site-lower></app-site-lower>



<app-map></app-map>

<!---------------------FOOTER-------------------->
<footer id="footer" class="footer_area" style="background-color: hsl(0, 0%, 24%);">
  <div class="container">
    <div class="footer_wrapper  d-lg-flex align-items-center justify-content-between">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="footer-text pull-left">
            <div class="d-flex mb-2">
              <img id="logo" src="assets/images/hehe.png" alt="Logo" style="width: 50px; height: 45px;">&nbsp;&nbsp;
                <h1 style="color: #ffffff; font-weight: bold;">MEDIC</h1>
            </div>
            <p class="card-text" style="color: #ffffff; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi non pariatur numquam animi nam at impedit odit nisi.</p>
            <div class="social"> <i class="fa fa-facebook-official fa-lg"></i> <i class="fa fa-instagram fa-lg"></i> <i class="fa fa-twitter fa-lg"></i> <i class="fa fa-linkedin-square fa-lg"></i> <i class="fa fa-facebook"></i> </div>
        
            <section class="mb-2">
              <a class="btn btn-outline-light btn-floating" href="#!" role="button"
                ><i class="fab fa-twitter"></i></a>
               
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i></a>
              
              <a class="btn btn-outline-light btn-floating m-" href="#!" role="button"
                ><i class="fab fa-google"></i></a>
            </section>
          </div>
    </div>
    </div> 
    <div class="text-center" style="color: rgb(206, 53, 53);">
      © 2022 Copyright:
      <a class="text-white" href="#">Visioli & Livera</a>
    </div>
  </div>
</footer>
<!---------------------FOOTER-------------------->