<app-site-upper></app-site-upper>

<section>
  <div class="container">
    <label for="text" style="margin-bottom:5px; font-size: 30px; font-weight: bold;">MEDICO: </label><small style="margin-left: 15px;" >Es: Adda Giampaolo | Abbiati Carla</small><br>
    <input class="w3-input w3-border w3-animate-input border border-dark" type="text" style="width:35%; margin-bottom:5px;" name="na" #newname placeholder="Doctor Name" ><br>
    <button (click) = "find(newname)" type="button" class="btn btn-outline-danger">Find</button>
    
  </div>
  <br>
  <app-inputcomp [listaDati]="dati"></app-inputcomp>
</section> 
<br>
<section class="pb-60">
  <div class="container">
    <label for="text" style="margin-bottom:5px; font-size: 30px; font-weight: bold;">NIL: </label><small style="margin-left: 15px;" >Es: DERGANO | DUOMO | SAN SIRO | CORSICA</small><br>
    <input class="w3-input w3-border w3-animate-input border border-dark" type="text" style="width:35%; margin-bottom:5px;" name="na" #newNil placeholder="NIL" ><br>
    <button (click) = "findd(newNil)" type="button" class="btn btn-outline-danger">Find</button>
  </div>
  <br>
  <app-inputcomp2 [listaNil] ="dati1"></app-inputcomp2>
</section>
<!-- /INPUT SECTION -->
<section id="appointment" class="contact_area bg_cover pt-120 pb-130" style="background-image: url(assets/images/APP.jpg);">
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-lg-6">
  <div class="section_title section_title_2 text-center ">
  <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Appointments</h4>
  <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
  amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
  </div> 
  </div>
  </div> 
  <div class="container">
    <div class="bu1">
      <a routerLink="users" class="button button1" routerLinkActive="active">Appointments</a>
      <a routerLink="add" class="button button1" routerLinkActive="active">Make an appointment</a>
    </div>
      <div class="card-body">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div> 
  </section>



<app-site-lower></app-site-lower>

