<!---------------------TIMETABLE----------------------->
<section id="orari" class=" bg_cover pt-120 pb-130" style="background-image: url(assets/images/)">
    <div class="container">
      <h2 class="text-uppercase lined" style="font-weight: bold;">Working  <span class="text-danger">Hours</span></h2>
        <p class="text-muted mb-5">We care your wellbeing</p>
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card shadow-sm border-0">
              <div class="card-body border-top border-md border-danger p-5">
                <ul class="list-unstyled mb-0">
                  <li class="d-flex align-items-center justify-content-between pb-3 px-4"><strong class="h6 mb-0">Monday </strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                  <li class="d-flex align-items-center justify-content-between py-3 bg-light px-4"><strong class="h6 mb-0">Tuesday </strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                  <li class="d-flex align-items-center justify-content-between py-3 px-4"><strong class="h6 mb-0">Wednesday </strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                  <li class="d-flex align-items-center justify-content-between py-3 bg-light px-4"><strong class="h6 mb-0">Friday</strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                  <li class="d-flex align-items-center justify-content-between py-3 px-4"><strong class="h6 mb-0">Saturday</strong><strong class="h6 mb-0 text-uppercase text-danger">Closed</strong></li>
                  <li class="d-flex align-items-center justify-content-between py-3 bg-light px-4"><strong class="h6 mb-0">Sunday</strong><strong class="h6 mb-0 text-uppercase text-danger">Closed</strong></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-center"><i class="fas fa-first-aid fa-4x text-danger mb-4">   </i>
            <h3 class="h4">Emergency Case</h3>
            <p class="text-muted mb-3 px-lg-5">If you need a doctor urgently outside of medicenter opening hours, call emergency appointment number for emergency service.</p>
            <div class="text-primary"><a class="btn btn-outline-danger h5 px-4 py-3" href="tel:080024667921"> <i class="fas fa-phone-square mr-2"></i>+ 0000 0000 0000</a></div>
          </div>
        </div>
    </div> 
  </section>
<!---------------------TIMETABLE----------------------->

<!---------------------FOOTER-------------------->
<footer id="footer" class="footer_area" style="background-color: hsl(0, 0%, 24%);">
    <div class="container">
      <div class="footer_wrapper  d-lg-flex align-items-center justify-content-between">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="footer-text pull-left">
              <div class="d-flex mb-3">
                <img id="logo" src="assets/images/hehe.png" alt="Logo" style="width: 50px; height: 50px;">&nbsp;&nbsp;
                  <h1 style="color: #ffffff; font-weight: bold;">MEDIC</h1>
              </div>
              <p class="card-text" style="color: #ffffff; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi non pariatur numquam animi nam at impedit odit nisi.</p>
              <div class="social"> <i class="fa fa-facebook-official fa-lg"></i> <i class="fa fa-instagram fa-lg"></i> <i class="fa fa-twitter fa-lg"></i> <i class="fa fa-linkedin-square fa-lg"></i> <i class="fa fa-facebook"></i> </div>
          
              <section class="mb-2">
                <a class="btn btn-outline-light btn-floating" href="#!" role="button"
                  ><i class="fab fa-twitter"></i></a>
                 
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-facebook-f"></i></a>
                
                <a class="btn btn-outline-light btn-floating m-" href="#!" role="button"
                  ><i class="fab fa-google"></i></a>
              </section>
            </div>
      </div>
      </div> 
      <div class="text-center" style="color: rgb(206, 53, 53);">
        © 2022 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">Visioli & Livera</a>
      </div>
    </div>
  </footer>
<!---------------------FOOTER-------------------->