<!---------------------TIMETABLE----------------------->
<section id="orari" class=" bg_cover pt-120 pb-115" style="background-image: url(assets/images/)">
    <div class="container">
      <h2 class="text-uppercase lined" style="font-weight: bold;">Working  <span class="text-danger">Hours</span></h2>
        <p class="text-muted mb-5">We care your wellbeing</p>
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card shadow-sm border-0">
              <div class="card-body border-top border-md border-danger p-5">
                <ul class="list-unstyled mb-0">
                  <li class="d-flex align-items-center justify-content-between pb-3 px-4"><strong class="h6 mb-0">Monday </strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                  <li class="d-flex align-items-center justify-content-between py-3 bg-light px-4"><strong class="h6 mb-0">Tuesday </strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                  <li class="d-flex align-items-center justify-content-between py-3 px-4"><strong class="h6 mb-0">Wednesday </strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                  <li class="d-flex align-items-center justify-content-between py-3 bg-light px-4"><strong class="h6 mb-0">Friday</strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                  <li class="d-flex align-items-center justify-content-between py-3 px-4"><strong class="h6 mb-0">Saturday</strong><span class="mb-0">10:00 am - 06:00 pm</span></li>
                  <li class="d-flex align-items-center justify-content-between py-3 bg-light px-4"><strong class="h6 mb-0">Sunday</strong><span class="mb-0">10:00 am - 06:00 pm</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-center"><i class="fas fa-first-aid fa-4x text-danger mb-4">   </i>
            <h3 class="h4">Emergency Case</h3>
            <p class="text-muted mb-3 px-lg-5">If you need a doctor urgently outside of medicenter opening hours, call emergency appointment number for emergency service.</p>
            <div class="text-primary"><a class="btn btn-outline-danger h5 px-4 py-3" href="tel:080024667921"> <i class="fas fa-phone-square mr-2"></i>+ 0000 0000 0000</a></div>
          </div>
        </div>
    </div> 
  </section>
<!---------------------TIMETABLE----------------------->
